/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

title {
    font-family: "Zain", sans-serif;
    font-size: 20px;
}

body {
    font-family: "Zain", sans-serif;
    font-size: 18px;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
    /* display: flex;  Flexbox para centralizar 
    flex-direction: column;
    align-items: center;  Centraliza horizontalmente 
    justify-content: center;  Centraliza verticalmente
    min-height: 100vh;  Altura total da tela  */
}

footer {
    margin-top: 30px; 
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.233);
    padding: 25px;
    /* width: 70%; largura menor 
    max-width: 90vw; responsividade em telas menores  */
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    border: 1px solid #304269;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem #ff6a00b2;
}

.btn-primary {
    background-color: #304269;
    border-color: #ff6a00;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 5px;
}

.btn-primary:hover {
    background-color: #ff6a00;
    border-color: #304269b6;
}

.form-text {
    font-size: 0.9em;
    color: #304269a4;
}

.form-check {
    margin-top: 10px;
}

.form-check-input {
    margin-top: 0.3em;
}

.form-select {
    border: 1px solid #304269;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-select:focus {
    border-color: #304269a4;
    box-shadow: 0 0 0 0.2rem #ff6a00b2;
}
